#root {
	min-height: 100vh;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	justify-content: center;
	align-items: center;
}

.wrapper {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.card {
	max-width: 350px;
	width: 100%;
	padding: 2em 1.5em;
	background-color: #00000093;
	-webkit-backdrop-filter: brightness(1.5) blur(5px);
	backdrop-filter: brightness(1.2) blur(10px);
	border-radius: 1.5em;
	box-shadow: 0 4px 8px rgba(0, 0, 00.3);
	transition: all0.3s ease;
	color: #ffffff;
}
.card:hover {
	box-shadow: 0 0 25px 0 #00000036;
}

.card__title {
	background-color: #00000088;
	border-radius: 15px;
	font-family: roboto;
	font-size: 35px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.558);
	text-align: center;
	-webkit-text-stroke: 0px #ffffff;
}
.card__subtitle {
	text-align: center;
}
.card__body {
	display: flex;
	align-items: center;
}
.card__temperature {
	font-size: 2.5rem;
	text-align: center;
	margin-bottom: 0.25em;
}
.card__button {
	display: block;
	margin: 0 auto;
	-webkit-backdrop-filter: brightness(1) blur(5px);
	backdrop-filter: brightness(1) blur(5px);
}
